footer{
    background: #000000D9;
    margin-top: 120px;
    height: auto;
    color: white;
      .footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
           .fot{
            width: 250px;
              h5{
                font-size: 24px;
                }
                .set{
                    display: flex;
                    p{
                        padding-left: 14px;
                    }
                }
        }
        .fot-3{
            display: flex;
            flex-direction: column;
            width: 250px;
            
           
                h5{
                    font-size: 24px;
                }
                input{
                    padding: 10px;
                    border-radius: 6px;
                    background: #C4C4C440;
                    border: none;
                }
                button{
                    background: #000000D9;
                    border: 1px solid white;
                    padding: 12px;
                    color: white;
                    border-radius: 6px;
                    cursor: pointer;
                }
                .form{
                    display: flex;
                    flex-direction: column;
                    gap: 28px;
                }
        }
    }
}
.last{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 12px;
    }
        .setlar{
            display: flex;
            gap: 22px;
        }
}